aws secret access key.txt
.aws/
.aws/spark-jars/
**/__pycache__/
etl/ai-initial-load/
spark-jars/*.jar
logs/
logs/*.log
.env
.idea/
.~lock.*
*.lock
data/*.csv
data/*.zip
**/target/
**/dbt_packages/
**/dbt_modules/
**/logs/
airflow/.env
drought_etl.egg-info
incremental-load